.tip0 {
    background: #9dd8c8;
    color: #345A5E;
    text-align: center;
}

.tip1 {
    background: #36b5b0;
    color: #ffffff;
    text-align: center;
}

.tip2 {
    background: #36b5b0;
    color: #ffffff;
    text-align: center;
}

.tip3 {
    background: #36b5b0;
    color: #ffffff;
    text-align: center;
}

.tip-opiniones {
    background: #f09595;
    color: #22313F;
    text-align: center;
}