body {
    background-image: url("../imagenes/apreton_manos.jpg");
    margin:0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contenedor {
    padding-top: 5px;
    padding-bottom: 5px;
    flex: 1;    
}

.lista {
    background: #36b5b0;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 550px;
    border-radius: 10px;
    overflow: auto;
}

.lista-titulo {
    text-align: center;
    color: white;
}

.lista-favores {
    background: #298f8b;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.favor {
    background: white;
    border-color: black;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 8px;
}

.entrar-favor {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: -20px;
}

.entrar-favor a {
    display: flex;
    justify-content: center;
}