.rol {
    background-image: url("../imagenes/apreton_manos.jpg");
    padding-bottom: 150px;
    padding-top: 150px;
    display: flex;
    align-items: start;
}

.card-action {
    margin-top: -14px;
    padding: 10px;
    border-radius: 10px;
}

.card-action .btn {
    
    display: flex;
    justify-content: center;
}

.card {
    height: 150px;
}

.titulo-cuadros {
    display: flex;
    justify-content: center;
}